<section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <h2 class="advantages__title">
                Почему мы лучшие в Минске?
            </h2>
            <p class="advantages__text">
                Потому что мы умеем решать проблемы еффективно
            </p>
            <a class="advantages__link" href="">
                Связаться с нами
            </a>
            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <img class="advantages__list-img" src="./img/icons/clients.svg" alt="" >
                    <h5 class="advantages__list-title">
                        Индивидуальный подход
                    </h5>
                    <p class="advantages__list-text advantages__text">
                        Мы уделяем первостепенное внимание индивидуальному обслуживанию клиентов, уделяя время тому,
                        чтобы понять ваши потребности и предложить индивидуальные решения.
                    </p>
                </li>
                <li class="advantages__list-item">
                    <img class="advantages__list-img" src="./img/icons/price-quality.svg" alt="" >
                    <h5 class="advantages__list-title">
                        Наилучшее соотношение цена/качество
                    </h5>
                    <p class="advantages__list-text advantages__text">
                        Мы знаем как делать свою работу качественно и радовать наших клиентов приятными ценами которые
                        заметно ниже сервисных центров
                    </p>
                </li>
                <li class="advantages__list-item">
                    <img class="advantages__list-img" src="./img/icons/support.svg" alt="" >
                    <h5 class="advantages__list-title">
                        Никаких операторов. Вы общаетесь сразу с мастером
                    </h5>
                    <p class="advantages__list-text advantages__text">
                        Оператор это не специалист по ремотну пк. Поэтому никто не сможет проконсультировать вас лучше
                        чем мастер с большым опытом работы
                    </p>
                </li>
                <li class="advantages__list-item advantages__item-right">
                    <img class="advantages__list-img" src="./img/icons/diagnostic.svg" alt="" >
                    <h5 class="advantages__list-title">
                        Бесплатная диагностика
                    </h5>
                    <p class="advantages__list-text advantages__text">
                        Если после диагностики вашего устройства и согласования стоимости вас все устраивает то
                        диагностика будет бесплатной
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>