<section class="bonus">
    <div class="container">
        <div class="bonus__inner">
            <h2 class="bonus__title">
                Вы здесь впервые?
            </h2>
            <p class="bonus__text">
                Мы ценим каждого клиента. При первом обращении вы можите получить скидку 20% на ремонт техники
                используя промокод. Больше акций в нашем разделе.
            </p>
            <div class="bonus__wrapper">
                <p class="bonus__code">
                    E34TG657
                </p>
                <p class="bonus__status">Cкопировано</p>
            </div>
            <div class="bonus__links">
                <a class="bonus__link bonus__link-btn" href="">Копировать</a>
                <a class="bonus__link bonus__link-arrow" href="">Все акции</a>
            </div>
        </div>
    </div>
</section>