<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__wrapper">
                <div class="header__logo logo">
                    <a class="logo__link" href="/">
                        <img class="logo__img" src="./img/icons/logo.svg" alt="logo icon">
                    </a>
                </div>
                <nav class="header__nav nav">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="/">Главная</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="/blog">Блог</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="/contacts">Контакты</a>
                        </li>
                        <li class="nav__list-item">
                            <button class="nav__dropdown-btn nav__dropdown-btn--active" type="button">Больше</button>
                            <div class="nav__dropdown-content dropdown dropdown--visible">
                                <div class="container">
                                    <div class="dropdown__inner">
                                        <div class="dropdown__lists">
                                            <ul class="dropdown__list dropdown__menu">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             aria-hidden="true" role="img"
                                                             class="iconify iconify--heroicons" width="100%"
                                                             height="100%" preserveAspectRatio="xMidYMid meet"
                                                             viewBox="0 0 20 20">
                                                            <path fill="currentColor" fill-rule="evenodd"
                                                                  d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707z"
                                                                  clip-rule="evenodd"></path>
                                                        </svg>
                                                        Главная
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link services red-arrow" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             aria-hidden="true" role="img" class="iconify iconify--ic"
                                                             width="100%" height="100%"
                                                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                  d="m14.17 13.71l1.4-2.42c.09-.15.05-.34-.08-.45l-1.48-1.16c.03-.22.05-.45.05-.68s-.02-.46-.05-.69l1.48-1.16c.13-.11.17-.3.08-.45l-1.4-2.42c-.09-.15-.27-.21-.43-.15l-1.74.7c-.36-.28-.75-.51-1.18-.69l-.26-1.85a.364.364 0 0 0-.35-.29h-2.8c-.17 0-.32.13-.35.3L6.8 4.15c-.42.18-.82.41-1.18.69l-1.74-.7c-.16-.06-.34 0-.43.15l-1.4 2.42c-.09.15-.05.34.08.45l1.48 1.16c-.03.22-.05.45-.05.68s.02.46.05.69l-1.48 1.16c-.13.11-.17.3-.08.45l1.4 2.42c.09.15.27.21.43.15l1.74-.7c.36.28.75.51 1.18.69l.26 1.85c.03.16.18.29.35.29h2.8c.17 0 .32-.13.35-.3l.26-1.85c.42-.18.82-.41 1.18-.69l1.74.7c.16.06.34 0 .43-.15M8.81 11c-1.1 0-2-.9-2-2s.9-2 2-2s2 .9 2 2s-.9 2-2 2m13.11 7.67l-.96-.74c.02-.14.04-.29.04-.44c0-.15-.01-.3-.04-.44l.95-.74c.08-.07.11-.19.05-.29l-.9-1.55c-.05-.1-.17-.13-.28-.1l-1.11.45c-.23-.18-.48-.33-.76-.44l-.17-1.18a.216.216 0 0 0-.21-.2h-1.79c-.11 0-.21.08-.22.19l-.17 1.18c-.27.12-.53.26-.76.44l-1.11-.45a.23.23 0 0 0-.28.1l-.9 1.55c-.05.1-.04.22.05.29l.95.74a3.145 3.145 0 0 0 0 .88l-.95.74c-.08.07-.11.19-.05.29l.9 1.55c.05.1.17.13.28.1l1.11-.45c.23.18.48.33.76.44l.17 1.18c.02.11.11.19.22.19h1.79c.11 0 .21-.08.22-.19l.17-1.18c.27-.12.53-.26.75-.44l1.12.45c.1.04.22 0 .28-.1l.9-1.55c.06-.09.03-.21-.05-.28m-4.29.16a1.35 1.35 0 1 1 .001-2.701a1.35 1.35 0 0 1-.001 2.701"></path>
                                                        </svg>
                                                        Услуги
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             aria-hidden="true" role="img" class="iconify iconify--ic"
                                                             width="100%" height="100%"
                                                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                  d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-5 14H7v-2h7zm3-4H7v-2h10zm0-4H7V7h10z"></path>
                                                        </svg>
                                                        Блог
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             aria-hidden="true" role="img" class="iconify iconify--ic"
                                                             width="100%" height="100%"
                                                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                  d="m21.41 11.41l-8.83-8.83c-.37-.37-.88-.58-1.41-.58H4c-1.1 0-2 .9-2 2v7.17c0 .53.21 1.04.59 1.41l8.83 8.83c.78.78 2.05.78 2.83 0l7.17-7.17c.78-.78.78-2.04-.01-2.83M6.5 8C5.67 8 5 7.33 5 6.5S5.67 5 6.5 5S8 5.67 8 6.5S7.33 8 6.5 8"></path>
                                                        </svg>
                                                        Акции
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             aria-hidden="true" role="img" class="iconify iconify--ic"
                                                             width="100%" height="100%"
                                                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                  d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8zm-2 8c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m4 8H8v-.57c0-.81.48-1.53 1.22-1.85a6.95 6.95 0 0 1 5.56 0A2.01 2.01 0 0 1 16 17.43z"></path>
                                                        </svg>
                                                        Контакты
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             aria-hidden="true" role="img" class="iconify iconify--ic"
                                                             width="100%" height="100%"
                                                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                  d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-7 12h-2v-2h2zm0-4h-2V6h2z"></path>
                                                        </svg>
                                                        Отзывы
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="dropdown__list dropdown__services-list dropdown__services-list--visible" data-self="services">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="pc" href="">
                                                        Ремонт компьютеров
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="laptop" href="">
                                                        Ремонт ноутбуков
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="monoblock" href="">
                                                        Ремонт моноблоков
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="monitor" href="">
                                                        Ремонт мониторов
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="" href="">
                                                        Ремонт платшетов
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="" href="">
                                                        Ремонт телефонов
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="" href="">
                                                        Ремонт/установка комплектующих
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="" href="">
                                                        Установка операционной системы
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="" href="">
                                                        Очистка от пыли
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" data-target="" href="">
                                                        Установка драйверов
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" data-target="" href="">
                                                        Установка програм
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" data-target="" href="">
                                                        Антивирусная защита
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" data-target="" href="">
                                                        Востановление данных
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" data-target="" href="">
                                                        Обслуживание офисов
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="dropdown__list dropdown__pc-list" data-self="pc">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-link " data-target="services" href="">
                                                        Вернуться назад
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Диагностика компьютера
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Настройка компьютера
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена материнской платы
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена жесткого диска
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена блока питания
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена видеокарты
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена процессора
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена оперативной памяти
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Замена термопасты
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Модернизация компьютера
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Сборка компьютера на заказ
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Прошивка/перепрошивка BIOS
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена сокета
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="dropdown__list dropdown__laptop-list" data-self="laptop">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-link" data-target="services" href="">
                                                        Вернуться назад
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-arrow" data-target="laptop_models" href="">
                                                        Бренды
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Диагностика ноутбука
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                       Замена термопасты
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена экрана
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена шлейфа матрицы
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена корпуса
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена петель экрана
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена корпуса
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена клавиатуры
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена жесткого диска
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена Wifi модуля
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Прошивка/перепрошивка BIOS
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена куллера
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена батареи
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена видеокарты
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена портов (USB, HDMI, VGA, звуковой порт)
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена материнской платы
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена процессора
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена северного моста
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена южного моста
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена гнезда питания
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена блока питания
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Добавление оперативной памяти
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт после залития житкостью
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="dropdown__list dropdown__laptop_models-list" data-self="laptop_models">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-link" data-target="laptop" href="">
                                                        Вернуться назад
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Apple(MAC)
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Asus
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Acer
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Dell
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        HP
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Lenovo
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        MSI
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Samsung
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Sony
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Toshiba
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="dropdown__list dropdown__monitor-list" data-self="monitor">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-link" data-target="services" href="">
                                                        Вернуться назад
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена блока питания
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт/замена ламп подсветки
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт мониторов Samsung
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт мониторов LG
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт мониторов Philips
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт мониторов Benq
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт мониторов Dell
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Ремонт мониторов Viewsonic
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="dropdown__list dropdown__monoblock-list" data-self="monoblock">
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link red-link" data-target="services" href="">
                                                        Вернуться назад
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">
                                                        Диагностика
                                                    </a>
                                                </li>
                                                <li class="dropdown__list-item">
                                                    <a class="dropdown__list-link" href="">

                                                    </a>
                                                </li>
                                            </ul>
<!--                                            <ul class="dropdown__list dropdown__-list">-->
<!--                                                <li class="dropdown__list-item">-->
<!--                                                    <a class="dropdown__list-link red-link" data-target="services" href="">-->
<!--                                                        Вернуться назад-->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                            </ul>-->
                                        </div>
                                        <div class="dropdown__blog">
                                            <h3 class="dropdown__blog-title">Новые статьи</h3>
                                            <ul class="dropdown__blog-list">
                                                <!--TODO переделать в шаблон для генерации с бд -->
                                                <li class="dropdown__blog-item header__article">
                                                    <img class="header__article-img" src="" alt="img">
                                                    <ul class="header__article-info header__info-list">
                                                        <li class="header__info-item">
                                                            <a class="header__info-title-link" href="">
                                                                <h4 class="header__info-title">
                                                                    Lorem ipsum dolor sit amet.
                                                                </h4>
                                                            </a>
                                                        </li>
                                                        <li class="header__info-item">
                                                            <p class="header__info-description">
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, veniam.
                                                            </p>
                                                        </li>
                                                        <li class="header__info-item">
                                                            <a class="header__info-link" href="">
                                                                Смотреть
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown__blog-item header__article">
                                                    <img class="header__article-img" src="" alt="img">
                                                    <ul class="header__article-info header__info-list">
                                                        <li class="header__info-item">
                                                            <a href="" class="header__info-title-link">
                                                                <h4 class="header__info-title">
                                                                    Lorem ipsum dolor sit amet.
                                                                </h4>
                                                            </a>
                                                        </li>
                                                        <li class="header__info-item">
                                                            <p class="header__info-description">
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nisi.
                                                            </p>
                                                        </li>
                                                        <li class="header__info-item">
                                                            <a class="header__info-link" href="">
                                                                Смотреть
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <a class="dropdown__blog-link" href="">
                                                Больше статей
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__buttons">
                <a class="header__btn" href="">Вызвать мастера</a>
                <a class="header__btn red" href="tel:+375291916662">Позвонить</a>
            </div>
        </div>
    </div>
</header>