<section class="home">
    <div class="container">
        <div class="home__inner">
            <div class="home__info-container">
                <div class="home__info">
                    <h1 class="home__info-title">
                        Ремонт компьютерной техники в Минске
                    </h1>
                    <p class="home__info-text">
                        Время работы: 9:00 - 22:00
                    </p>
                    <p class="home__info-text">
                        Ежедневно!
                    </p>
                    <p class="home__info-text">
                        Прием звонков круглосуточно!
                    </p>
                    <div class="home__info-links">
                        <a class="home__info-link red" href="">
                            +375 (29) 191 66 62
                        </a>
                        <a class="home__info-link" href="">
                            Детальнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="home__carousel-box">
                <div class="home__carousel" id="home__carousel-left">
                    <div class="home__carousel-item">Samsung</div>
                    <div class="home__carousel-item">Apple</div>
                    <div class="home__carousel-item">Dell</div>
                    <div class="home__carousel-item">Samsung1</div>
                    <div class="home__carousel-item">Apple1</div>
                    <div class="home__carousel-item">Dell1</div>
                    <div class="home__carousel-item">Samsung2</div>
                    <div class="home__carousel-item">Apple2</div>
                    <div class="home__carousel-item">Dell2</div>
                </div>
                <div class="home__carousel" id="home__carousel-right">
                    <div class="home__carousel-item">HP</div>
                    <div class="home__carousel-item">Lenovo</div>
                    <div class="home__carousel-item">Asus</div>
                    <div class="home__carousel-item">HP1</div>
                    <div class="home__carousel-item">Lenovo1</div>
                    <div class="home__carousel-item">Asus1</div>
                    <div class="home__carousel-item">HP2</div>
                    <div class="home__carousel-item">Lenovo2</div>
                    <div class="home__carousel-item">Asus2</div>
                </div>
            </div>
        </div>
    </div>
</section>