<section class="repair">
    <div class="container">
        <div class="repair__inner">
            <h2 class="repair__title">
                Ремонт любого устройства и модели
            </h2>
            <h5 class="repair__subtitle">
                Пока другие обещают мы делаем
            </h5>
            <div class="repair__info-box">
                <div class="repair__info-item repair__info-laptop">
                    <div class="repair__info-wrapper">
                        <h3 class="repair__info-title">
                            Ноутбук
                        </h3>
                        <p class="repair__info-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. Lorem ipsum dolor sit ame
                        </p>
                        <a class="repair__info-link" href="">
                            Детальнее
                        </a>
                    </div>
                    <div class="repair__info-img"></div>
                </div>
                <div class="repair__info-item repair__info-monoblock">
                    <div class="repair__info-img"></div>
                    <div class="repair__info-wrapper">
                        <h5 class="repair__info-title">
                            Моноблоки
                        </h5>
                        <p class="repair__info-text">
                            Lorem ipsum dolor sit amet
                        </p>
                        <a class="repair__info-link" href="">
                            Детальнее
                        </a>
                    </div>
                </div>
                <div class="repair__info-item repair__info-large repair__info-pc">
                    <div class="repair__info-wrapper">
                        <h3 class="repair__info-title">
                            Компьютер
                        </h3>
                        <p class="repair__info-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique.
                        </p>
                        <a class="repair__info-link" href="">
                            Детальнее
                        </a>
                    </div>
                    <div class="repair__info-img"></div>
                </div>
                <div class="repair__info-item repair__info-mobile">
                    <div class="repair__info-img"></div>
                    <div class="repair__info-wrapper">
                        <h5 class="repair__info-title">
                            Платшет, телефон
                        </h5>
                        <p class="repair__info-text">
                            Lorem ipsum dolor sit amet
                        </p>
                        <a class="repair__info-link" href="">
                            Детальнее
                        </a>
                    </div>
                </div>
                <div class="repair__info-item repair__info-monitor">
                    <div class="repair__info-img"></div>
                    <div class="repair__info-wrapper">
                        <h5 class="repair__info-title">
                            Монитор
                        </h5>
                        <p class="repair__info-text">
                            Lorem ipsum dolor sit amet
                        </p>
                        <a class="repair__info-link" href="">
                            Детальнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>