<section class="trust">
    <div class="container">
        <div class="trust__inner">
            <div class="trust__top">
                <h3 class="trust__title">
                    Мы в цыфрах
                </h3>
                <p class="trust__text">
                    Мы успешно обслужили тысячи клиентов, отремонтировав широкий спектр техники. Наша команда экспертов
                    стремится обеспечить эффективный и надежный выездной ремонт компьютерной техники, гарантируя, что
                    ваши устройства востановят работоспособность в кратчайшие сроки.
                </p>
            </div>
            <div class="trust__info">
                <div class="trust__info-item">
                    <div class="trust__info-value trust__rating" data-count="98">
                        0
                    </div>
                    <h5 class="trust__info-title">
                        Клиентов довольны результатом
                    </h5>
                </div>
                <div class="trust__info-item">
                    <div class="trust__info-value trust__repair" data-count="3508">
                        0
                    </div>
                    <h5 class="trust__info-title">
                        Единиц техники отремонтировано
                    </h5>
                </div>
                <div class="trust__info-item">
                    <div class="trust__info-value trust__restore" data-count="689">
                        0
                    </div>
                    <h5 class="trust__info-title">
                        Восстановленно залитых устройств
                    </h5>
                </div>
                <div class="trust__info-item">
                    <div class="trust__info-value trust__collected" data-count="374">
                        0
                    </div>
                    <h5 class="trust__info-title">
                        Компьютера собранно для целевых задач
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>