<section class="work">
    <div class="container">
        <div class="work__inner">
            <h3 class="work__title">
                Как мы работаем?
            </h3>
            <ul class="work__list">
                <li class="work__list-item">
                    <img class="work__list-img" src="./img/icons/bid.svg" alt="bid image">
                    <h5 class="work__list-title">
                        1) Вы оформляете заявку
                    </h5>
                    <p class="work__list-description">
                        Вы можете вызвать мастера самостоятельно заполнив
                        форму на сайте, либо позвоните нам по телефону:
                        <a href="tel:+375291916662" class="work__list-link">+375 (29) 191 66 62</a>
                    </p>
                    <a class="work__list-btn" href="">
                        Вызвать мастера
                    </a>
                </li>
                <li class="work__list-item">
                    <img class="work__list-img" src="./img/icons/car.svg" alt="bid image">
                    <h5 class="work__list-title">
                        2) Выезд мастера
                    </h5>
                    <p class="work__list-description">
                        Предварительно мы обговариваем возможные причины поломки и ориентировочную стоимость
                    </p>
                </li>
                <li class="work__list-item">
                    <img class="work__list-img" src="./img/icons/repair.svg" alt="bid image">
                    <h5 class="work__list-title">
                        3) Диагностика и устранение неисправности
                    </h5>
                    <p class="work__list-description">
                        Мастер диагностирует и устраняет неисправность на месте. Если диагностика либо ремонт на месте
                        не возможен, то техника транспортируется в майстерскую для дальнейших работ.
                    </p>
                </li>
                <li class="work__list-item">
                    <img class="work__list-img" src="./img/icons/money.svg" alt="bid image">
                    <h5 class="work__list-title">
                        4) Доставка техники и оплата
                    </h5>
                    <p class="work__list-description">
                        Мы доставляем рабочую технику в удобное для вас место (если поломка не была устранена на месте)
                        И вы производите оплату по факту выполненых работ.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>