@use "vars" as *;

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  @extend %roboto-400;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  margin: 0 auto;
}