@use "reset";
@use "global";

@use "sections/header";
@use "sections/home";
@use "sections/trust";
@use "sections/repair";
@use "sections/work";
@use "sections/advantages";
@use "sections/reviews";
@use "sections/bonus";
@use "sections/faq";
@use "sections/footer";
@use "sections/modal";

html {
  scroll-behavior: smooth;
}

.home,
.trust,
.repair,
.work,
.advantages,
.reviews,
.bonus,
.faq {
  scroll-margin-top: 74px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
