.bonus {
  padding: 100px 0;
  background-color: $dark-bg-100;

  &__title {
    @extend %roboto-700;
    font-size: 48px;
    color: $dark-text-100;
    margin-bottom: 24px;
  }

  &__text {
    color: $dark-text-200;
    max-width: 700px;
    margin-bottom: 24px;
  }

  &__wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__code{
    display: inline-block;
    @extend %roboto-700;
    font-size: 32px;
    background: linear-gradient(to right, $dark-primary-100, $dark-primary-200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__status{
    display: inline-block;
    font-size: 16px;
    background-color: $dark-primary-100;
    border-radius: 5px;
    padding: 5px 10px;
    color: $dark-primary-300;
    opacity: 0;
    transition: opacity .5s;

    &--visible {
      opacity: 1;
    }
  }

  &__link{
    display: inline-block;
    @extend %roboto-500;
    @extend %white-link;
    color: $dark-text-100;
  }

  &__link-btn{
    @extend %btn-link;
    border-color: $dark-accent-100;
    margin-right: 20px;
  }

  &__link-arrow{
    @extend %red-arrow;
  }
}