@use "../vars" as *;

.advantages {
  padding: 100px 0;
  background-color: $dark-bg-100;

  &__title{
    max-width: 600px;
    @extend %roboto-700;
    font-size: 48px;
    color: $dark-text-100;
    margin-bottom: 20px;
  }

  &__text,
  &__list-text {
    color: $dark-text-200;
    margin-bottom: 24px;
  }

  &__link{
    @extend %btn-link;
    @extend %btn-link-accent-outline;
    @extend %white-link;
    @extend %roboto-500;
    display: inline-block;
    margin-bottom: 80px;
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__list-item{
    @extend %glass-card;
    padding: 32px;
    max-width: 587px;
    width: 100%;

    &:nth-child(even){
      @extend %glass-card-reverse;
    }
  }

  &__list-img{
    margin-bottom: 16px;
  }

  &__list-title{
    @extend %roboto-700;
    font-size: 24px;
    color: $dark-text-100;
    margin-bottom: 16px;
  }
}

@media (max-width: 1279px) {
  .advantages {
    &__title{
      margin: 0 auto 20px;
    }

    &__title,
    &__text {
      text-align: center;
    }

    &__link {
      display: block;
      width: fit-content;
      margin: 0 auto 50px;
    }

    &__list {
      justify-content: center;
    }

    &__list-item {
      max-width: 80%;
    }
  }
}

@media (max-width: 767px) {
  .advantages{
    padding: 50px 0;

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 479px) {
  .advantages {
    &__title {
      font-size: 32px;
    }

    &__list-item {
      max-width: 90%;
      padding: 20px;
      text-align: center;
    }

    &__list-img {
      margin: 0 auto 16px;
    }
  }
}
